{% extends "base.html" %}

{% block content %} 
<style>
    .center_form {
        position: fixed;
        top: 50%;
        left: 50%;
        /* background-color: #000; */
        width:50%;
        height: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
    }
</style>

<h1 class="h3 mb-2 text-gray-800">{{table_name}}</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="center_form">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}

